.heading{
    font-size: 23px;
    font-family: cursive;
    font-weight: bold;
    width: 100%;
    margin: 0px;
}

.note{
    font-family: cursive;
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

.play_button{
    width: 130px;
    font-size: 25px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
}